<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #FCCCAF;
    }
    p {
      font-size: 30px;
      text-align: center ;
    }

    div {
      text-align : center;
    }
 </style>
</head>
<body >
<div>
  <%= session[:player_2_name]%> please enter your movement.
  <form action="/result" method = "post">
  <select name="player_2_movement">
    <option value="scissors">scissors</option>
    <option value="paper">paper</option>
    <option value="rock">rock</option>
  </select>
  <br><br>
  <input type="submit" value = "Submit">
</form>
</div>
</body>
</html>
