<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #FCCCAF;
    }
    p {
      font-size: 30px;
      text-align: center ;
    }

    div {
      text-align : center;
    }
 </style>
</head>
<body >
<div> <%= session[:player_1_name]%> vs. <%= session[:player_2_name] %> </div>
<form action = "/p1_asking" method = "post">
<div> <input type = "submit" value = "Start_game" > </div>
</form>
</body>
</html>
